@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,900&display=swap');
 
*{
   margin:0;
   padding:0;
   outline:0;
   box-sizing: border-box;
 }

 html, body, #root {
   min-height: 20%;
 }

 body{
   background:rgba(255, 255, 255, 0.87) url('../../assets/fundo.png') no-repeat;
   background-size: 50%;
   -webkit-font-smoothing: antialiased !important;
  
   max-width:200px;
   max-height:150px;
   width: auto;
   height: auto;
 }

 body, input, button {
   font-family: 'Roboto', Arial, Helvetica, sans-serif;
   font-size: 14px;
 }

 .login-form{
  position: relative;
    top: 0px;
    right: 0px;
    bottom: 60px;
    left: 600px;
    width: 400px;
    height: 200px;
    margin: auto;
    box-shadow: 0px 0px 10px black;
    padding: 20px;
    box-sizing: border-box;
}

.login-form p{
  font-weight: bolder;
  position: absolute;
  left: 100px;
  font-size: 30px;
  margin:20px;
}

 .p error{
   font-size: 10px;
}

label{
  font-weight: bolder;
  margin: 20px;
  font-size: 20px;
}

input{
  width: 100%;
    height: 35px;
    margin:10px;   
    padding-left: 5px;
    box-sizing: border-box;
}

.btn{
position: relative;
left:110px;
width: 200px;
height: 60px;
border:2px solid #000000;
border-radius:100px;
background-color:rgba(30, 71, 184, 0.397);
display:inline-block;
cursor:pointer;
font-weight:bold;
font-size:23px;
margin:20px;
padding:6px 10px;

}


a{
  font-weight: bolder;
  color:black;
  
  position: relative;
  top:120px;
  right: 72px;
  font-size:20px;
}
