@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,900&display=swap');
 
*{
   margin:0;
   padding:0;
   outline:0;
   box-sizing: border-box;
 }

 html, body, #root {
   min-height: 20%;
 }

 body{
   background:rgba(255, 255, 255, 0.87) url('../../assets/fundo.png') no-repeat;
   background-size: 50%;
   -webkit-font-smoothing: antialiased !important;
 }

 body, input, button {
   font-family: 'Roboto', Arial, Helvetica, sans-serif;
   font-size: 14px;
 }

 .login-form{
  position: absolute;
    top: 0px;
    right: 0px;
    bottom: 60px;
    left: 600px;
    width: 500px;
    height: 500px;
    margin: auto;
    box-shadow: 0px 0px 10px black;
    padding: 20px;
    box-sizing: border-box;
}

.login-form p{
  font-weight: bolder;
  position: relative;
  left: 90px;
  font-size: 30px;
  margin:20px;
}

label{
  font-weight: bolder;
  margin: 20px;
  font-size: 20px;
}

input{
  width: 100%;
    height: 35px;
    margin:10px;   
    padding-left: 5px;
    box-sizing: border-box;
}

button{
position: relative;
left:110px;
width: 200px;
height: 60px;
border:1px solid #dae6da;
border-radius:3px;
background-color:rgba(31, 80, 218, 0.397);
display:inline-block;
cursor:pointer;
font-weight:bold;
font-size:23px;
margin:20px;
padding:6px 10px;
text-decoration:none;
}